/* Scrollbar styling */
.language-dropdown-light::-webkit-scrollbar {
  width: 8px;
}

.language-dropdown-light::-webkit-scrollbar-track {
  background: transparent;
}

.language-dropdown-light::-webkit-scrollbar-thumb {
  background: rgba(71, 85, 105, 0.4);
  border-radius: 4px;
}

.language-dropdown-light::-webkit-scrollbar-thumb:hover {
  background: rgba(71, 85, 105, 0.6);
}

.language-dropdown-dark::-webkit-scrollbar {
  width: 8px;
}

.language-dropdown-dark::-webkit-scrollbar-track {
  background: transparent;
}

.language-dropdown-dark::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.4);
  border-radius: 4px;
}

.language-dropdown-dark::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.6);
}

.fade-bottom {
  mask-image: linear-gradient(to bottom, black 0%, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0%,
    black 80%,
    transparent 100%
  );
}
